.one {
	display:inline-block;
	float:right;
}

.two {
	position: absolute;
	margin-left: 658px;
	margin-top: 40px;
}

.three {
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: green;
}


.four_red {
	position: absolute;
	background-color: black;
	margin-left: 310px;
	margin-top: 10px;
}

.four_black {
	position: absolute;
	background-color: red;
	margin-left: 300px;
}