header {
	margin-bottom: 3rem;
}

p {
	line-height: 1.6;
}

.see-all {
	font-size: 0.8em;
	text-transform: uppercase;
}

ul h1 {
	font-size: 2.5rem;
	border-top: 2px solid #000;
	width: 700px;
	position: relative;
}

h2 {
	font-size: 1rem;
	text-transform: uppercase;
}

h1, h2 {
		font-weight: 300;
}

img {
	width: 100%;
}

div {
/*	width: 25%; */
	font-size: 0.8rem;
}

.selected:hover {
	color: black;
	font-weight: bold;
}

.selected:active {
	color: black;
}

.selected:visited {
	color: grey;
}

img + div {
	font-weight: bold;
}

div:nth-of-type(2){
	font-style: italic;
}

ul li:nth-of-type(9):after {
	content: ' *';
	vertical-align: super;
}

#game-of-thrones .seasons ul::after{
    display: block;
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}
